.cache
.cargo
.cert
.git
.gnupg
.local
!.local/share/konsole
.mozilla
.ssh
Documents
Downloads
Pictures
.bash*
.fonts.conf
.git*
.gtk*
.lesshst
.nmcli-history
.profile
.Xauthority
.Xresources
.config/bashtop
.config/dconf
.config/gtk*
.config/htop
.config/libreoffice
.config/procps
.config/pulse
.config/spotify-tui
.config/systemd
.config/yay
.config/qtile/_*
!.gitignore
.fltk
.vnc
.config/llpp.conf
